<html>
<head>
  <title>Student Age updater</title>
</head>
<body>
  <h1>Student Age Updater</h1>
  <p>Click <a href="students/new">here</a> to change.</p>
  <ul>
    <% @students.each do |student| %>
      <li><%= student['name'] %>, <%= student['age'] %></li>
    <% end %>
  </ul>
</body>
</html>
